<html>
    <head>
        <title>Go WebServer!</title>
        <style>
            body {
                font-family: arial;
                font-size: 20px;
                text-align: center;
            }
            img {
                width: 400px;
                height: auto;
                display: none;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <h2>WebServer Fun!</h2>
        <p>Enter url parameters to fill in the missing variables on the webpage! <br><br><small>ex http://localhost:8000/?first=john&last=doe&mood=awesome!</small></p>
        <br>
        <h1>{{first}} {{last}}</h1>
        <p>Hello {{first}}! This is your very own Go webserver! So far i think go is {{mood}}</p>
        <img id="angry-cat" src="https://i.ytimg.com/vi/gaLIEUNv2YM/maxresdefault.jpg" alt="angry cat" />
        <img id="happy-cat" src="https://media.daysoftheyear.com/20171223125918/happy-cat-month-1.jpg" alt="happy cat" />
        <script>
            const happyCat = document.getElementById("happy-cat");
            const angryCat = document.getElementById("angry-cat");
            if(window.location.href.indexOf("first") < 1 || window.location.href.indexOf("last") < 1 || window.location.href.indexOf("mood") < 1){
                angryCat.style.display = "block";
            }
            else{
                happyCat.style.display = "block";
            }
        </script>
    </body>
</html>